#process
{
    .container-fluid
    {
        height: 1200px;
        background-color: #252525;
        .container
        {
            .spec-row
            {
                position: relative;
                bottom: 30px;
                .spec-circle
                {
                    width: 80px;
                    height: 80px;
                    background-color: #daa66f;
                    border: 6px solid rgba(100,100,100,0.3);
                }
                .spec-i
                {
                    font-size: 35px;
                }
            }
            .col-12
            {
                height: 150px;
                h3
                {
                    position: relative;
                    &::after
                    {
                        content: "";
                        position: absolute;
                        bottom: -30%;
                        right: 50%;
                        transform: translate(50%,50%);
                        width: 100px;
                        height: 1px;
                        background-color: white;
                    }
                }
            }
            .col-7
            {
                height: 500px;
                background-color: #353535;
                .spec-circle-holder
                {
                    .spec-circle
                    {
                        width: 80px;
                        height: 80px;
                        border: 5px solid pink;
                        i
                        {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}